<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
</head>
<body>
    {{!-- Layout principal donde se va a desplegar el contenido de las vistas --}}
    {{!-- Inicio --}}
    {{{ body }}}
    {{!-- </ Inicio --}}
</body>
</html>