{{#if mensajeFlash}}
    <div class="alert alert-{{cssFlash}}">
        <ul>
            {{#each mensajeFlash}}
                <li>{{this.msg}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}