<h1>Formulario Simple</h1>

{{>partial_alerts}}

<form action="/formularios/normal" method="post" class="my-3">
    <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}">
    <div class="my-3">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control" >
    </div>

    <div class="my-3">
        <label for="correo">Correo</label>
        <input type="text" name="correo" id="correo" class="form-control">
    </div>

    <div class="my-3">
        <label for="telefono">Telefono</label>
        <input type="text" name="telefono" id="telefono" class="form-control">
    </div>

    <hr>

    <button class="btn btn-info text-white btn-lg">Enviar</button>
</form>